In [1]:
import pandas as pd
df = pd.read_csv('Tweets.csv')
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [3]:
import pandas as pd
df = pd.read_csv('Tweets.csv')
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [4]:
import pandas as pd
df = pd.read_csv('Tweets.csv')
df.shape

(27481, 4)

In [5]:
df.describe()

,textID,text,selected_text,sentiment
count,27481,27480,27480,27481
unique,27481,27480,22463,3
top,cb774db0d1,"I`d have responded, if I were going",good,neutral
freq,1,1,199,11118

In [6]:
df.values

array([['cb774db0d1', ' I`d have responded, if I were going',
        'I`d have responded, if I were going', 'neutral'],
       ['549e992a42', ' Sooo SAD I will miss you here in San Diego!!!',
        'Sooo SAD', 'negative'],
       ['088c60f138', 'my boss is bullying me...', 'bullying me',
        'negative'],
       ...,
       ['f67aae2310',
        ' Yay good for both of you. Enjoy the break - you probably need it after such hectic weekend  Take care hun xxxx',
        'Yay good for both of you.', 'positive'],
       ['ed167662a5', ' But it was worth it  ****.',
        'But it was worth it  ****.', 'positive'],
       ['6f7127d9d7',
        '   All this flirting going on - The ATG smiles. Yay.  ((hugs))',
        'All this flirting going on - The ATG smiles. Yay.  ((hugs)',
        'neutral']], dtype=object)

In [7]:
import pandas as pd
tweet_data = pd.read_csv('Tweets.csv')
tweet_data

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [14]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
tweet_data = pd.read_csv('Tweets.csv')
X = tweet_data.drop(columns = ['sentiment'])
#datadrop hiển thị cột giá trị ma2ta muốn sử dụng
Y = tweet_data['sentiment']
X

,textID,text,selected_text
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going"
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD
2,088c60f138,my boss is bullying me...,bullying me
3,9642c003ef,what interview! leave me alone,leave me alone
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,"
...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force"
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...

In [6]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
#thư viện machine learning dc sử dụng rộng rãi nhất
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
# sklearn.model_selection import train_test_split để training data
tweet_data = pd.read_csv('Tweets.csv')
X = tweet_data.drop(columns = ['sentiment'])
Y = tweet_data['sentiment']

X_train,  X_test , Y_train , Y_test =\
train_test_split(X , Y , test_size=\
                 0.20, random_state = 0)
# sử dụng shape để kiểm tra dữ liệu
tweet_data.shape
print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(21984, 3)
(5497, 3)
(21984,)
(5497,)

In [22]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
#thư viện machine learning dc sử dụng rộng rãi nhất
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

tweet_data = pd.read_csv('Tweets.csv')
X = tweet_data.drop(columns = ['sentiment'])
#datadrop bo3 cột giá trị ma ta  muốn sử dụng
Y = tweet_data['sentiment']

model = DecisionTreeClassifier()

tweet_data

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral